header{
    margin: 0;     
    text-align: center;
}

main{
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
   
#logo {
    width: 18%;
    text-align: center;
}

#focaccia{
    width: 100%;
}

#first {margin: 0;
    font-weight: 400 ;
    color: aqua;
    background-color: rgb(255, 236, 169);
    }

    b {
    color: aqua;
}

h1{
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.paragrafo{
    color: chocolate;
    text-align: start;
    width: 50%;
    margin: 0;

}
footer{
    text-align: center;
}

li{
    margin: 0;
}